body{
        background-image:url(../images/pixel_weave.png);
        font-family: 'Raleway', sans-serif;
}

.jumbotron{
   background-color:  #337bfb;
   color: white;
}

.mainArea{
    background-color: #337bfb;
    height: 375px;
    padding-top: 20px;
    color: white;
}

.answer{
    text-align: left;
    line-height: 45px;
    background-color: lightgray;
    color: black;
    padding-left: 25px;
}

.answer:hover{
    background-color: gray;
}

.btn{
    background-color: #00b14d;
}

.btn:hover{
    background-color: #00642c;
}
